body {
  width: 100vw;
  background-image: url(/img-inicio/fondo.jpg) ;
  font-family: Jetbrains Mono;
  font-weight: bold;
  font-size: large;
   background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}
.lea {
  background-image: url(/img-inicio/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: black solid;
  border-width:  2px;
  /* background-attachment: fixed;   */
}
.lea1 {
  border: black solid;
  border-width: 2px;
}
.lea2 {
  border: black solid;
  border-width: 1px;
  background-image: url(/img-inicio/fondo.jpg);
}
.subra {
  text-decoration: underline;
  
}

.navbar-brand {
  font-size: 24px;
}

.navbar-nav .nav-link {
  animation: fadeInRight 0.5s ease-in-out;
}

.sub-menu {
  background-color: #5e5e5e;
  padding: 10px;
  border-radius: 0 0 4px 4px;
  animation: fadeInDown 0.5s ease-in-out;
}

.sub-menu .dropdown-item {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.sub-menu .dropdown-item:hover {
  background-color: #9b9b9b;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.transparent-button {
  background-color: transparent;
  border: none;
  color: #000000;
  padding: 3px 5px;
  text-align: center;
  border-radius: 10px;
  border: 1px black solid;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
  transition: transform 0.3s;
}
.transparent-button:hover {
  transform: scale(1.1);
}